a{
    color:orange;
    font-weight: bold;
    text-decoration: none;
}
h1{
    font-weight: bold;
}
main{
    display:flex;
    gap:80px;
    justify-content: center;
    align-items: center;
}
img{
    height:200px;
    width:300px;
}
.card{
    height:400px;
    width:300px;
    border-radius:7px;
    border:1px solid black;
    box-shadow: 4px 4px 8px grey;
    padding: 15px;
}
